:root {
    --f-reg: 'OSReg';
    --f-bold: 'OSBold';
    --f-light: 'OSLight';

    --c-midnight: #011A34;
    --c-ozon-blue: #005bFF;
    --c-white: #FFFFFF;
    --c-mystic: #DEE5EA;
    --c-dark-space: #667585;
    --c-cadet-blue: #BAB2C2;
    --c-ozon-blue-10: #E0EBFF;
    --c-ozon-blue-50: #7FADFF;

    --c-aqua-haze: #EFF3F6;
}