.gridDescription {
    display: flex;
    
    grid-area: description;

    justify-content: flex-start;

    font-size: 28px;

    color: rgb(112, 112, 112);

    padding-top: 56px;
    padding-left: 4%;
    padding-right: 4%;

    box-sizing: border-box;
}

.gridDescription--text {
    margin: 0;

    font-size: 28px;
    line-height: 40px;
}